# Dependencies
node_modules

# Build outputs
dist
*.tsbuildinfo

# Turborepo
.turbo

# Netlify
.netlify

# Environment
.env
.env.local
.env.*.local
*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Dev notes
dev.md

# Logs
npm-debug.log*
